/* ============����============== */

div#productcontent{
margin:0px;
border:0px #def solid;
text-align:left;
padding:0px;
}

div#productcontent .productpics{
float:left;
width:330px;
height:268px;
}

div#productcontent .piczone{
width:305px;
height:260px;
text-align: center;
padding:5px;
background:#fff;
border:1px #ddd solid;
}

div#productcontent .productpic{
cursor:pointer;
}

div#productcontent .productloading{
margin:125px 0px;
}



div#productcontent .introzone{
border:0px;
height:198px;
border:0px;
}


div#productcontent #prodtitle{
margin:0px 0px 20px 0px;
text-align: left;
height:28px;
font:bold 14px/28px Verdana, Arial, Helvetica, sans-serif;
background:#f5f5f5;
padding-left:10px;
color:#000;
}


div#productcontent div#memo{
padding:0px;
margin:10px 20px 5px 8px;
text-align:left;
font: 12px/20px Verdana, Arial, Helvetica, sans-serif;
}

div#productcontent div#prop{
padding:0px;
margin:10px 20px 20px 8px;
text-align:left;
font: 12px/20px Verdana, Arial, Helvetica, sans-serif;
}


div#productcontent .bodyzone{
clear:both;
border-top:3px #eee solid;
margin:30px 5px 30px 0px;
padding:15px 0px;
font: 14px/20px Verdana, Arial, Helvetica, sans-serif;
}

div#productcontent .bzone{
clear:both;
margin:20px 0px 30px 0px;
text-align: left;
}


div#productcontent .tags{
font: 12px Verdana, Arial, Helvetica, sans-serif;
background:url(../images/tags.gif) left no-repeat;
padding-left:23px;
height:22px;
line-height:22px;
}

div#productcontent .source{
font: 12px Verdana, Arial, Helvetica, sans-serif;
background:url(../images/source.gif) left no-repeat;
padding-left:23px;
height:22px;
line-height:22px;
}

div#productcontent .addfav{
font: 12px Verdana, Arial, Helvetica, sans-serif;
background:url(../images/fav.gif) left no-repeat;
padding-left:23px;
height:22px;
line-height:22px;
cursor:pointer;
}

div#productcontent #zhichi{
cursor:pointer;
background:url(../images/zhichi.gif) right no-repeat;
padding-right:12px;
}

div#productcontent #fandui{
cursor:pointer;
background:url(../images/fandui.gif) right no-repeat;
padding-right:12px;
}

div#productcontent .banzhu{
display:none;
font: 12px Verdana, Arial, Helvetica, sans-serif;
background:url(../images/banzhu.gif) left no-repeat;
padding-left:23px;
height:22px;
line-height:22px;
}

div#productcontent .banzhu span{
cursor:pointer;
}


/* ============��ҳ============== */

div#contentpages {
margin:10px 0px 0px 0px;
height:28px;
}


div#contentpages ul{
margin:0;
padding:0;
}


div#contentpages li{
margin:1px;
list-style-type: none;
float:left;
font: 12px Verdana, Arial, Helvetica, sans-serif;
color:#505050;
border:1px #ddd solid;
background-color:#fff;
white-space: nowrap;
padding:1px 3px;
cursor:pointer;
}

div#contentpages li.pagesnow{
color:#fff;
border:1px #c0c0c0 solid;
background-color:#c0c0c0;
cursor:pointer;
}

div#contentpages li.pbutton{
border:1px #c0c0c0 solid;
color:#fff;
background-color:#c0c0c0;
padding:1px 3px;
cursor:pointer;
}

div#contentpages li.cbutton{
border:1px #c0c0c0 solid;
color:#fff;
background-color:#c0c0c0;
padding:1px 3px;
cursor:pointer;
}
.cart_btn{
width:98px;
height:30px; background:url(../../../trade.png);
border:0px;
}
.buy_btn{
width:70px;
height:30px; background:url(../../../buy.png);
border:0px;
}