/* ============分类列表============== */

div.productclass_dolphin{
margin:0px;
padding:10px 0px 20px 17px;
}

a.productclass_dolphin:link,a.productclass_dolphin:visited,a.productclass_dolphin:active{
display:block;
text-decoration: none;
font:12px/26px Verdana, Arial, Helvetica, sans-serif;
height:30px;
text-align:left;
background:url(../images/dot2.jpg) 0px 0px no-repeat;
padding-left:28px;
margin:0px;
color:#2e2e2e;
}

a.productclass_dolphin:hover{
display:block;
color:#000; 
text-decoration: none;
font:12px/26px Verdana, Arial, Helvetica, sans-serif;
}
